*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e6b7b;


}

.container {
   width: 400px;
   height: 400px;
   position: relative;



}


.container .gallery{
    position: absolute;
    z-index: 1;
    right: -15px;
    transform: translateY(-50%);
    top: 50%;
   

 
 }
 .container .gallery li{
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

 }
 .container .gallery li:hover{

    transform: rotate(35deg) scale(1.1);

 }
 .container .gallery li img{
    width: 100%;
   
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.2);
    border-top: rgba(255, 255, 255, 0.5); 
    border-right: rgba(255, 255, 255, 0.5);
    
 }



 .container .imgbox{
    width: 350px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.2);
    border-top: rgba(255, 255, 255, 0.5); 
    border-left: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


 }

 .container .imgbox h2{
    color: white;
    letter-spacing: 1px;

 }

 .container .imgbox img{
width: 50%;
margin-top: 40px;
transition: 0.5s;
border-radius: 10px;

 }


 .container .imgbox img:hover{
        transform: scale(1.25) rotate(-15deg) translateX(-30px);
    
     }


.container .imgbox .size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}     
    

.container .imgbox .size span{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    margin-right: 5px;
}     
    

.container .imgbox .size li{
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}   


.container .imgbox .size li:hover{

    transform: translateY(-10px);

}   


.container .imgbox .btn{

    position: absolute;
    background-color: #fff;
    padding: 10px 25px;
    bottom: -25px;
    border-radius: 30px;
    color: #1e6b7b;
    text-decoration: none;
    

}  